.accordion_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(163, 163, 209);
  padding-bottom: 3em;
  cursor: pointer;
}

.accordion_container:hover label {
  display: block;
  cursor: pointer;
  background: rgb(163, 163, 209);
  transition: transform 0.3s;
  transition-timing-function: ease-in-out;
  text-align: center;
}

.container_img img {
  height: 50vh;
  object-fit: contain;
}

.container_part {
  width: 60vw;
  background-color: rgb(163, 163, 209);
  padding: 1rem;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  padding-bottom: 1em;
  margin: 1rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.accordion_title {
  width: 60vw;
  padding: 2rem;
  background-color: rgb(163, 163, 209);
  margin: 0;
}

.accordion_subtitle {
  width: 60vw;
  text-align: left;
}

.container_text {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 55vw;
  font-size: 1em;
  cursor: pointer;
}

.container_btn {
  display: none;
}

label {
  display: none;
}

.container__html:hover #btn1 {
  transform: rotate(-135deg);
}

.container__js:hover #btn2 {
  transform: rotate(-135deg);
}

.container__improvement:hover #btn3 {
  transform: rotate(-135deg);
}

.container__worsening:hover #btn4 {
  transform: rotate(-135deg);
}

.container__stages:hover #btn5 {
  transform: rotate(-135deg);
}

#img1,
#img2,
#img3,
#img4,
#img5 {
  display: none;
}

.container_img {
  visibility: collapse;
  display: none;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5 {
  cursor: pointer;
  width: 1em;
  height: 1em;
  border: none;
  background: rgb(163, 163, 209);
}

#img1:checked ~ .container_img {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#img2:checked ~ .container_img {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#img3:checked ~ .container_img {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#img4:checked ~ .container_img {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#img5:checked ~ .container_img {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
